[Unit]
Description=Bindicator Hardware
After=network.target

[Service]
User=toby
WorkingDirectory=/home/toby/bindicator
ExecStart=/home/toby/bindicator/.venv/bin/python /home/toby/bindicator/hardware/main.py
Restart=always

[Install]
WantedBy=multi-user.target