[Unit]
Description=Bindicator API (FastAPI)
After=network.target

[Service]
User=toby
WorkingDirectory=/home/toby/bindicator
ExecStart=/home/toby/bindicator/.venv/bin/python /home/toby/bindicator/.venv/bin/fastapi run /home/toby/bindicator/backend/main.py
Restart=always

[Install]
WantedBy=multi-user.target