[Unit]
Description=Set LCD to show booting message
Before=basic.target
After=local-fs.target sysinit.target
DefaultDependencies=no

[Service]
User=toby
Type=oneshot
ExecStart=/home/toby/bindicator/.venv/bin/python /home/toby/bindicator/hardware/booting.py
TimeoutSec=10

[Install]
WantedBy=multi-user.target
