[Unit]
Description=Bindicator API (FastAPI)
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/bindicator
ExecStart=/home/pi/bindicator/.venv/bin/python /home/pi/bindicator/.venv/bin/fastapi run /home/pi/bindicator/backend/main.py
Restart=always

[Install]
WantedBy=multi-user.target